body{
    color:green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container{

    padding-top: 10px;
    text-align: left;
    border: 2px solid #000;
    border-radius: 8px;

}

#himno{

    background: blue;
    color: #fff;
    font-size: 3em;
    text-align: center;
}