body{
    color:green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container{

    padding-top: 10px;
    text-align: left;
    border: 2px solid #000;
    border-radius: 8px;

}

#cabecera {
    background: lightblue;
    color: blue;
    border-color: aqua;
    text-align: center;
    font-size: 5em;
}

#himno{

    background-color: blue;
    color: #fff;
    text-align: center;
    font-size: 5em;
}